<form th:action="@{/evento/criar}" method="post">
    <h3>Formulário de Criação de Eventos</h3>

    <label>Nome:</label>
    <input type="text" name="nome">

    <label>Responsavel:</label>
    <input type="text" name="responsavel">

    <label>Local:</label>
    <input type="text" name="local">

    <label>Banner</label>
    <input type="image">

    <label>banner:</label>
    <input type="image" name="banner">

    <labe>Responsvél:</labe>
    <input type="text" name="responsavel">

    <labe>Banner:</labe>
    <input type="image" name="banner">

    <label>Data:</label>
    <input type="date" name="data">

    <label>Descrição</label>
    <textarea name="descricao"></textarea>

    <button type="submit">Salvar</button>
</form>